<h1>Welcome</h1>
Hello {{ user.fullName }}! You've registered into the app!<br><br>
Please confirm account by clicking this <a href="{{ url('security_confirm', {'token': user.confirmationToken}) }}">link</a>
To login og to the <a href="{{ url('security_login') }}">Login page</a><br><br>
